body, .hero.is-primary{
    background-color: rgb(231, 231, 231);
    color: black;
}

.navbar-item img {
    max-height: none;
    height: 100ù;
}

.address-boxes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.hero.is-primary .title{
    color: black;
}

.hero{
    display: block;
}

.hero.is-primary a.navbar-item:hover{
    background-color: #b8002e;
}
.hero-body{
    padding: 0;
}


h1{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}
h2{
    margin: 15px 0;
}
canvas{
    margin-bottom: 10px;
}

.addressbox{
    width: 250px;
    margin: 20px;
    padding: 15px;
    height: 270px;
    border-radius: 25px;
    background-color: white;
    list-style: none;

}

.addressboxshadow{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.addressbox:hover{
    /* transform: scale(1.05);
    transition: all ease 200ms; */
    border: 1px solid grey;
    /* background-color: rgba(235, 235, 235, 0.404); */
}

.hero-head{
    margin-bottom: 25px;
    background-color: #CE0033;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 3;
    color: white;
}

.hero-head *{
    height: 100%;
}

.control{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: lightgray solid 1px;
}

.column, .column *{
    /* top: 70px; */
    z-index: 2;
}

.column{
    margin-top: 70px;
}

label.label{
    font-weight: 400;
}

.control:last-child{
    border-bottom: none;
}

.bold{
    font-weight: 700;
}

.navbar-end a{
    color: white;
}

video
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 0;
}

.hero.is-primary .greytitle{
    /* background-color:rgba(0,0,0,0.1); */
    color:#CE0033;
    /* text-shadow: rgb(255, 255, 255) 1px 0 5px; */
    /* -webkit-text-stroke: 2px #CE0033; */
}

.select:not(.is-multiple):not(.is-loading)::after{
    border-color: #CE0033;
}

.button.is-info{
    background-color: #CE0033;
} 

.button.is-info:hover{
    background-color: #b8002e;
}

.chart-container{
    width: 100% !important;
    height:300px !important;
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

}

#myChart{
    display: block !important; 
  width: 900px !important;

}