{% extends "base.html" %}

{% block content %}
<div class="column is-three-fifths is-offset-one-fifth"></div>
    <div class="box">
      <p>
        {{apprenant.firstname.capitalize()}} {{apprenant.surname.capitalize()}}
      </p>
    </div>
    <div class="box chart-container">
        <canvas id="myChartdevops"></canvas>
    </div>
    <div class="box chart-container">
        <canvas id="myChartdevcloud"></canvas>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var devopspoints = {{ devopspoints | tojson }}
console.log({{devopspoints | tojson}})
var devopschart = []
var devopspointschart = []
for (const property in devopspoints) {
//   console.log(`${property}: ${devopspoints[property]}`);
    devopschart.push(property)
    console.log(property)
    // document.getElementById(property).value = devopspoints[property]
    devopspointschart.push(devopspoints[property])
}

var devcloudpoints = {{ devcloudpoints | tojson }}
console.log({{devcloudpoints | tojson}})
var devcloudchart = []
var devcloudpointschart = []
for (const property in devcloudpoints) {
//   console.log(`${property}: ${devcloudpoints[property]}`);
    devcloudchart.push(property)
    // document.getElementById(property).value = devcloudpoints[property]
    devcloudpointschart.push(devcloudpoints[property])
}

// console.log(devopspointschart)
// console.log(devopschart)
var ctx = document.getElementById('myChartdevops').getContext('2d');
var ctx2 = document.getElementById('myChartdevcloud').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: devopschart,
        legend:[
          "C1",
          "C2",
          "C3",
          "C4",
          "C5",
          "C6",
          "C7",
          "C8",
          "C9",
        ],
  
        datasets: [{
            label: 'DevOps',
            backgroundColor: 'rgb(206, 0, 51)',
            borderColor: 'rgb(206, 0, 51)',
            data: devopspointschart
        }]
    },
  
    // Configuration options go here
    options: {
      maintainAspectRatio: false,
      responsive:true,
      legend: {
            display: true},
            tooltips: {
                intersect : false,
                mode : 'index',
              enable:true
            },
      scales: {
        yAxes:[{
            ticks: {
              min: 0,
              max: 3,
              stepSize: 1,
              callback: function(value, index, values) {
                  var labels = [
                      "Transposer",
                      "Adapter",
                      "Imiter",
                      "Non-Acquis"
                  ]
                  return labels[index]
                    }
          }
        }],
        xAxes: [{
            ticks: {
                display: false,
            }
        }],
      }}
          });

var chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: devcloudchart,
        legend:[
          "C1",
          "C2",
          "C3",
          "C4",
          "C5",
          "C6",
          "C7",
          "C8",
          "C9",
        ],
  
        datasets: [{
            label: 'DevCloud',
            backgroundColor: 'rgb(206, 0, 51)',
            borderColor: 'rgb(206, 0, 51)',
            data: devcloudpointschart
        }]
    },
  
    // Configuration options go here
    options: {
      maintainAspectRatio: false,
      responsive:true,
        legend: {
            display: true},
            tooltips: {
                intersect : false,
                mode : 'index',
              enable:true
            },
      scales: {
        yAxes:[{
            ticks: {
              min: 0,
              max: 3,
              stepSize: 1,
              callback: function(value, index, values) {
                  var labels = [
                      "Transposer",
                      "Adapter",
                      "Imiter",
                      "Non-Acquis"
                  ]
                  return labels[index]
                    }
          }
        }],
        xAxes: [{display: false}],
      }}
          });

</script>
{% endblock %}