{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Ajouter une nouvelle adresse</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">create page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/create">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" required name="name" placeholder="Nom de l'adresse" autofocus="">
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="lat" required placeholder="Latitude" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="lng" required placeholder="Longitude" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="city" required placeholder="Ville" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="zip" required placeholder="Code postal" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="country" required placeholder="Pays">
                </div>
            </div>


            <button class="button is-block is-info is-large is-fullwidth">S'inscrire</button>
        </form>
    </div>
</div>
{% endblock %}
