<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>
    <video autoplay muted loop src="{{ url_for('static', filename='video-bg.mp4') }}"></video>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ url_for('dashboard.index') }}">
                          <!-- <img src="{{ url_for('static', filename='simplonlogo.png') }}" width="112" height="28"> -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" x="0" y="0" viewBox="-50 -50 500 500">
                            <g fill="#FFF">
                                <path d="M229.703 222.976h-56.436V280.3h56.436v-57.323zm0-102.278h-56.436v57.323h56.436v-57.323z"/>
                                <path d="M200 400C89.72 400 0 310.256 0 200S89.744 0 200 0s200 89.744 200 200-89.72 200-200 200zm0-362.52c-89.59 0-162.473 72.882-162.473 162.473 0 89.59 72.882 162.52 162.473 162.52 89.59 0 162.473-72.882 162.473-162.473 0-89.59-72.882-162.473-162.473-162.473v-.047z"/>
                            </g>
                        </svg>
                        </a>
                    </div>

                    <div class="navbar-end">
                        <a href="{{ url_for('dashboard.index') }}" class="navbar-item">
                            Accueil
                        </a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('dashboard.profile') }}" class="navbar-item">
                            Mon compte
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                            Connexion
                        </a>
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                            Inscription
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Se déconnecter
                        </a>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
    {% block scripts %}
    {% endblock %}
</body>

</html>